In [21]:
var1 = 1
var2 = 2
var3 = "3"
v_int=int(var3)
print(var1 + var2 + v_int)

6

In [4]:

valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [5]:

x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [6]:
var= "James Bond"
print(var[2::-1])

maJ

In [7]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [8]:
str = "pynative"
print (str[1:3])

yn

In [12]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Jodi', 'Vicki', 'Garry', 'Eric'}

In [13]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append("Scott")
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

In [14]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [15]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [16]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [17]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [18]:
L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']